@model Weterynarze.Models.Vet

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły zlecenia</h1>

<div class="formsize">
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Imie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Imie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zwierze)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zwierze)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Objawy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Objawy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Adres)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adres)
        </dd>
        <dt class="col-sm-2">
            <text>Status zlecenia</text>
        </dt>
        <dd class="col-sm-10">
            @if (Model.Priorytet == 1)
            {
                <text>Nowe zlecenie</text>
            }
            @if (Model.Priorytet == 2)
            {
                <text>W trakcie realizacji</text>
            }
            @if (Model.Priorytet == 3)
            {
                <text>Zrealizowane</text>
            }

            @*@Html.DisplayFor(model => model.Priorytet)*@
        </dd>
    </dl>
</div>
<div>
    <a class="button button1" asp-action="Edit" asp-route-id="@Model?.Id">Edytuj</a>
    @if (User.IsInRole("Admin") || User.IsInRole("Dystrybutor"))
    {
        <a class="button button1" asp-action="Delete" asp-route-id="@Model?.Id">Usuń</a>

        <br />
    }
    <a class="button button1" asp-action="Index">Powrót</a>
</div>